<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <title>kortkostnad.se - Räkna ut kostnaden för ett kortköp med iZettle</title>
    <meta property="fb:admins" content="601634852"/>
    <meta property="og:image" content="http://kortkostnad.se/fb-share-image.png"/>
    <meta property="og:title" content="Kortkostnad.se"/>
    <meta property="og:description" content="Räkna ut kostnaden för ett kortköp med iZettle"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://kortkostnad.se"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-iphone.png" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/calculator.js"></script>
    <script type="text/javascript" src="/javascripts/bookmark_bubble.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27638278-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */
    </script>
  </head>

  <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=137067219714522";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div class="header">
      <div class="container">
        <div class="row">
          <h1>Kortkostnad.se</h1>
          <p>Räkna ut kostnaden för ett kortköp med iZettle.</p>
          <p>
              <div class="fb-like" data-href="http://kortkostnad.se/index.html" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-action="recommend"></div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-via="himynameisjonas" data-related="himynameisjonas" data-hashtags="izettle" data-count="horizontal" data-url="http://kortkostnad.se">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://kortkostnad.se/"></a>
              <noscript><a href="http://flattr.com/thing/450665/Kortkostnad-se" target="_blank">
              <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
          </p>
        </div>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="span-one-third">
          <h2>Pengar på kontot</h2>
          <p>Summan du kommer få insatt på ditt bankkonto</p>
          <div class="input-append">
                <input class="x-large" id="cash" name="prependedInput" type="text" pattern="[0-9]*">
                <span class="add-on">SEK</span>
          </div>
        </div>
        <div class="span-one-third">
          <h2>Köpbelopp</h2>
          <p>Summan som dras från kortet.</p>
          <div class="input-append">
                <input class="x-large" id="amount" name="prependedInput" type="text" pattern="[0-9]*">
                <span class="add-on">SEK</span>
          </div>
        </div>
        <div class="span-one-third">
          <h2>Avgifter</h2>
          <p>De avgifter som iZettle tar för kortköpet.</p>
          <div class="input-append">
                <input class="x-large" id="charges" disabled="disabled" name="prependedInput" type="text">
                <span class="add-on">SEK</span>
          </div>
        </div>
      </div>

      <footer>
        <p><small>Denna webbplats är inte associerad med iZettle utan framtagen helt för nöjes skull av <a href="http://jonasforsberg.se">Jonas Forsberg</a>. Beräknad med 2,75% i avgift. Summorna rundas av och är därför inte exakta. Öppen källkod: <a href="https://github.com/himynameisjonas/izettle_calculator">Github</a>.</small></p>
      </footer>
    </div>

  </body>
</html>