.input-prepend .add-on, .input-append .add-on, input{
    height: 1em;
    line-height: 1em;
    font-size: 2.5em;
}
#github{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

iframe, fb_iframe_widget{
    float: left;
}

.hero-unit h1 {
    font-size: 70px;
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
    .container{
        width: 100%;
    }

    .hero-unit{
        padding: 10%;
    }
    .hero-unit h1 {
        font-size: 35px;
    }
    .row{
        margin: 0;
    }
    .row > [class*="span"] {
        margin: 0 0 30px 0;
    }
    .span-one-third, footer{
        padding: 0 10%;
        width: 80%;
    }
    footer{
        padding-top: 10px;
    }
    input{
        width: 75%;
    }
    .input-prepend .add-on, .input-append .add-on, input{
        height: 2em;
        line-height: 2em;
        font-size: 1.7em;
    }
    #github{
        display: none;
    }
}